.wrapper{
    max-width: 1440px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

html,body{
    margin-left: calc(100vw - 100%);
    margin-right: 0;
}

body{
    color: black;
    line-height: 140%;
    font-family: 'Balsamiq Sans';
}

input, textarea, button{
     font-family: 'Exo 2';

}
h1,h2,h3,h4,h5, h6{
    font-family: 'Neucha';
}
.container{
    max-width: 1250px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

header{
    position: fixed;
    z-index: 5;
    top: 0px;
    left: 0px;
    right: 0px;
    width:100vw;
}

.nav__menu{
    display: flex;
    align-items: center;
    justify-content:space-around;
    box-shadow: 0px -2px 14px #965499;
    background-color: white;
}

.header__menu{
    display: flex;
}

.menu__item {
    margin-left: 40px;  
    padding: 10px;
    text-decoration: none;
    color: rgba(170, 28, 177);
    font-size: 15px;
    align-self: center;
}

.menu__item:hover {
    transition: all 0.3s;
    color: rgba(28, 160, 177, 0.7);;
}

.menu__item:not(:hover) {
    transition: all 1s;
    color: rgba(170, 28, 177);
}

.menu__item.active__item{
    transition: all 1.5s;
    color: rgba(28, 160, 177, 1);
}

.logo-header{
    width: 90%;
}

.header__banner{
    background-image: url(../img/background.jpg);
    border-radius: 10px;
    min-height: calc(300px + 25vw);
    padding: calc(12.5vw - 80px) 0 calc(12.5vw - 45px);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-self: center;
    position: relative;
}

.opacity__block{
    position: absolute;
    top: 0px;
    background-color:rgba(28, 50, 177, 0.3);
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.header__banner .content{
    display: flex;
    width: 50%;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}
.header__banner .container{
    display: flex;
    z-index: 1;
}

.header__banner h1{
    font-size: 55px;
    line-height: 70px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    margin-bottom: 0;
    text-shadow: 0px 3px 2px rgb(60, 15, 65);
}

.button{
    background-color: #DB2973;
    max-width: 330px;
    width: 100%;
    border-radius: 100px;
    text-align: center;
    padding: 20px 50px 20px 50px;
    border: 2px dashed #DB2973; 
    box-shadow: 0px 24px 34px rgba(40, 8, 39, 0.5);
    font-family: 'Exo 2';
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.button.open-modal{
    cursor: pointer;
}

.button:hover{
    transition: all 0.3s;
    color: #DB2973;
    background-color: white;
}

.button:not(:hover){
    transition: all 0.3s;
    color: white;
    background-color: #DB2973;
}

.advantages{
    margin-top: 110px;
    align-self: center;
}

h2{
    font-size: 40px;
    color: #0078c2;
    line-height: 70px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}



.advantages__content{
    margin-top: 70px;
    display: flex;
}

.advantages__list{
    display: grid;
    width: 75%;
    grid-column-gap: 45px;
    grid-row-gap: 45px;
    grid-template-columns: 1fr 1fr;
}

.advantage__item{
    display: flex;
    align-items: center;
    box-sizing: inherit;
}

.advantage__item p{
    margin-left: 20px;
    font-size: 25px;
    line-height: 30px;
}

.advantage__img{
    width: 25%;
    margin-right: 50px;
}

.advantage__img img{
    width: 100%;
}

.element__animation{
    opacity: 0;
}

.element__animation.element__show {
    opacity: 1;
    transition: all 0.7s;
    transform: translateY(-20px);
}

.popular__quests{
    margin-top:110px;
    padding-top: 50px;
    background-color: #FFC52C;
    border-radius: 10px;
}
.popular__quests h2{
    color: white;
}

.popular__quests .container{
    display: flex;
    align-self: center;
    flex-direction: column;
}

.quest__list{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px
}
.quest__item, .addition-item{
    width: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    background-color: white;
    border-radius: 15px;
    position: relative;
}

.addition-item{
    border-radius: 0px;
}
.quest__item img, .addition-item img{
    width: 100%;
    border-radius: 15px;
}

.item-name{
    width: 90%;
    margin-top: 15px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}

.item-price{
    max-width: 100%;
    margin-top: 15px;
    font-size: 25px;
    line-height: 25px;
    color: rgba(170, 28, 177);
}

.time{
    font-family: 'Exo 2';
    color: #717285;
}

.item-button{
    margin-top: 15px;
    margin-bottom: 25px;
    font-family: 'Exo 2';
    font-size: 18px;
    line-height: 18px;
    display: block;
    width: 80%;
    text-align: center;
    padding: 15px;
    color: white;
    background: linear-gradient(222deg, #BE19C7 -25%, #722376 142%);
    border-radius: 7px;
    border: 1px solid #BE19C7;
    text-decoration: none;
}

.item-button:hover{
    transition: all 0.5s;
    color: #BE19C7;
    background: linear-gradient(222deg, #ffffff -25%, #ffffff 142%);;
}

.item-button:not(:hover){
    transition: all 0.5s;
    color: white;
    background: linear-gradient(222deg, #BE19C7 -25%, #722376 142%);
}

.more-quests{
    font-family: 'Exo 2';
    display: flex;
    align-self: center;
    width: 25%;
    text-decoration: none;
    justify-content: center;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 20px;
    color: #BE19C7;
    border: 1px solid #BE19C7;
    border-radius: 40px;
}

.more-quests:hover{
    transition: all 0.6s;
    color: white;
    background-color: #BE19C7;
}

.more-quests:not(:hover){
    transition: all 0.6s;
    color: #BE19C7;
    background-color: rgba(0,0,0,0);
}

.item-label{
    position: absolute;
    left: 10px;
    top: 0px;
    margin-top: 15px;
    font-family: 'Exo 2';
    font-size: 15px;
    line-height: 18px;
    display: block;
    width: 30%;
    text-align: center;
    padding: 5px;
    color: white;
    background: linear-gradient(222deg, #BE19C7 -25%, #722376 142%);
    border-radius: 4px;
    text-decoration: none;
}

.description{
    margin-top: 100px;
}

.description .container{
    display: flex;
    justify-content: space-around;
}

.company__description{
    width: 50%;
    margin-left: -120px;
    align-self: center;
}

.animator-image{
    width: 27%;
    border-radius: 15px;
}

.company__description h2{
    font-size: 30px;
    line-height: 30px;
    text-align: left;
}

.company__description p{
    margin-top: 20px;
    font-family: "Exo 2";
    color: #4a4a56;
    font-size: 18px;
    line-height: 30px;
    text-align: justify;
}

.company__description .company__info{
    margin-top: 20px;
}

.additional-services{
    margin-top: 140px;
}

.additional-cards{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.photo{
    margin-top: 50px;
}

.support-form{
    margin-top: 100px;
    background: url(../img/footer.png) 50% 60px no-repeat;
    background-size: 1500px auto;
    height: 600px;
}

.support-form .container{
    display: flex;
    flex-direction: column;
}

.request-info{
    font-family: "Exo 2";
    font-size: 20px;
    color: #4a4a56;
    text-align: center;
    display: flex;
    width: 70%;
    align-self: center;
}

.request-form, .order-form{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    width: 30%;
    align-self: center;
}

.modal .request-form{
    margin-top: 50px;
    width: 70%;
}

.form-inputs{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-inputs input, textarea{
    font-size: 20px;
    line-height: 20px;
    border-radius: 7px;
    padding: 20px 20px 20px 20px;
    outline:none;
}

.form-inputs textarea{
    resize: none;
}

.form-inputs input:focus, textarea:focus{
    transition: all 0.7s;
    border-color: #BE19C7;
}

.form-inputs input:not(:focus), textarea:not(:focus){
    transition: all 2s;
    border-color: #007cba;
}

.submit-button, .submit-order{
    margin-top: 40px;
    border: none;
    padding: 20px;
    background-color: #0078c2;
    border: 1px solid #0078c2;
    border-radius: 40px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.submit-order{
    background-color: #e675ec;
    border: 1px solid #e675ec;
}

.submit-order:hover{
    transition: all 0.7s;
    background-color: white;
    color: #e675ec;
}

.submit-order:not(:hover){
    transition: all 0.7s;
    background-color: #e675ec;
    color: white;
}

.submit-button:hover{
    transition: all 0.7s;
    background-color: white;
    color: #0078c2;
}

.submit-button:not(:hover){
    transition: all 0.7s;
    background-color: #0078c2;
    color: white;
}

.photo .content-photo{
    height: 420px;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.swiper{
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
}

.swiper .swiper-slide{
    display: flex;
    justify-content: center;
    opacity: 0.8;
    transition: all 0.3s linear;
    max-width: 800px;
}

.swiper .swiper-slide img{
    margin-top: 30px;
    width: 82%;
    border-radius: 7px;
    transition: all 0.3s linear;
}

.swiper .swiper-slide.swiper-slide-prev{
    opacity: 0;
    transition: all 0.3s linear;
}

.swiper .swiper-slide.swiper-slide-next{
    opacity: 1;
    transition: all 0.3s linear;
}

.swiper .swiper-slide.swiper-slide-next img{
    margin-top: 0px;
    width: 100%;
    transition: all 0.3s linear;
}

.swiper .swiper-slide.swiper-slide-visible.swiper-slide-fully-visible{
    opacity: 1;
    transition: all 0.3s linear;
}

.footer__content{
    font-family: 'Exo 2';
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.main__content{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.info__footer{
    width: 60%;
    font-size: 14px;
}

.mail{
    text-decoration: none;
    color: #89208E;
}

.mail:hover {
    transition: all 0.3s;
    color: rgba(28, 160, 177, 0.7);;
}

.mail:not(:hover) {
    transition: all 1s;
    color: #89208E;
}

.socials{
    margin-top: 20px;
    display: flex;
    width: 25%;
    align-items: center;
    align-self: center;
    justify-content: space-between;
}

.footer__bottom{
    margin-top: 20px;
    max-width: 1440px;
    padding: 10px;
    /* box-shadow: 0px 0px 14px #965499; */
    text-align: center;
}

.questions-block{
    margin-top: 100px;
    padding-top: 70px;
    background-color: #BE19C7;
    border-radius: 10px;
    color: #ffffff;
}

.questions-block h2{
    color: #ffffff;
}

.questions-block__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.question {
    width: 70%;
    align-self: center;
    justify-content: space-between;
    padding: 15px 30px 15px 30px;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.question:hover{
    color: #722376;
    transition: all 0.5s;
    background: white;
}

.question:not(:hover){
    transition: all 0.5s;
    background: #BE19C7;
}

.question__header {
    display: flex;
    justify-content: space-between;
}

.question__title {
    align-self: center;
    font-weight: 600;
    font-size: 20px;
    font-family: 'Exo 2';
    width: 80%;
}

.question__plus {}
.questions-block{
    padding-top: 100px;
    padding-bottom: 100px;
}

.question__plus{
    width: 40px;
    height: 40px;
    background-color: white;
    box-shadow: 0px 10px 20px rgba(98, 31, 101, 0.7);
    padding: 10px;
    border-radius: 100px;
}

.btn__question{
    background: white;
}

.question__answer {
    height: 0px;
    overflow: hidden;
    transition: all 0.5s ;
}

.questions-block__title{
    font-size: 40px;
    margin-bottom: 40px;
}
.question__answer-text {
    text-align: justify;
    color: #434242;
    margin-top: 12px;
    font-family: 'Exo 2';
}

.question__plus rect:first-child{
    transition: 0.5s all linear;
}

.question._active{
    color: #722376;
    background-color: white;
}

.question._active .question__plus rect:first-child{
    opacity: 0;
    transform: rotate(90deg);
    transform-origin: 50% 50%;
}

.question._active .question__answer{
    display: block;
}

.contacts__block{
    margin-top: 150px;
}

.contacts__block h2{
    text-align: left;
    font-size: 50px;
    color: black;
}

.contacts__label{
    display: block;
    margin-top: 10px;
    font-family: 'Exo 2';
    font-size: 20px;
    color: #4a4a56;
}

.contacts__items{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 160px;
    grid-row-gap: 30px;
    max-width: 980px;
    margin-top: 50px;
    padding-left: 0;
}

.icon-contact{
    width: 17%;
}

.item-contact{
    display: flex;
    font-family: 'Exo 2';
}

.title-contact{
    color: #6a6a76;
    font-size: 16px;
}
.label-contact{
    margin-top: 5px;
    font-size: 20px;
}

.contact__info{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.location-company h2{
    margin-top: 100px;
    margin-bottom: 20px;
}

.about__block{
    margin-top: 150px;
}

.about__block h2{
    text-align: left;
    font-size: 45px;
    color: black;
}

.about__content{
    display: flex;
    margin-top: 30px;
    font-family: 'Exo 2';
    font-size: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about__picture{
    display: block;
    border-radius: 10px;
    width: 40%;
    box-shadow: 0px 10px 20px rgb(140, 33, 145);
}

.animator__features{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content__features{
    width: 55%;
}

.animator__features span{
    text-align: left;
    color: #87369f;
    font-size: 22px;
    line-height: 30px;
    text-transform: uppercase;
}

.animator__features p{
    margin-top: 30px;
    font-family: 'Exo 2';
    color: #5a5a64;
    text-align: justify;
    line-height: 30px;
}

.privilege__item{
    font-family: 'Exo 2';
    display: flex;
    width: 25%;
    align-items: center;
    flex-direction: column;
}

.privileges__list{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}

.icon-privilege{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border: 3px solid rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 700;
}

.title-privilege{
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
}

.description-privilege{
    margin-top: 20px;
    color: #4a4a56;
    text-align: center;
}

.blue{
    color: #419797;
    border-color: #419797;
}

.purple{
    color: #AA1CB1;
    border-color: #AA1CB1;
}

.orange{
    color: #FC993D;
    border-color: #FC993D;
}

.cardcounts__block{
    margin-top: 100px;
}

.cardcounts__list{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.cardcount__item{
    padding: 30px;
    width: 23%;
    border-radius: 10px;
    color: white;
    position: relative;
}

.cardcount-count{
    margin-top: 10px;
    font-size: 30px;
}

.cardcount-label{
    margin-top: 30px;
    font-family: 'Exo 2';
    font-size: 20px;
    font-weight: 700;
}

.icon-cardcount{
    position: absolute;
    top: 20px;
    right: 20px;
}

.news__block{
    margin-top: 150px;
}

.cardcount-blue{
    color: #0f7b8e;
    background-color: #60cde1;;
}

.cardcount-pink{
    color: #af0f5a;
    background-color: #ea4d96;
}

.cardcount-purple{
    color: #B51EBD;
    background-color: #e094e4;
}

.cardcount-orange{
    color: #a65000;
    background-color: #FC993D;
}

pre.format-text{
    margin-top: 50px;
    text-align: justify;
    white-space: pre-wrap;
    color: #4a4a56;
}

.blured-border{
    opacity: 1;
    height: 40%;
    width: 100%;
    bottom: 0px;
    left: 0px;
    position: absolute;
    background: linear-gradient(to top, white 20px, rgba(255,255,255,0.1));
    border-radius: 0px 0px 10px 10px;
    transition: all 0.7s;
}

.moretext-button{
    width: 30%;
    position: absolute;
    padding: 10px 30px 10px 30px;
    text-align: center;
    background-color: #ea4d96;
    border: 2px solid #ea4d96;
    right: 20px;
    color: white;
    bottom: -25px;
    border-radius: 10px;
    cursor: pointer;
}

.moretext-button:hover{
    transition: all 0.7s;
    background-color: white;
    color: #ea4d96;
}

.moretext-button:not(:hover){
    transition: all 0.7s;
    background-color: #ea4d96;
    color: white;
}

.date{
    position: absolute;
    top: 20px;
    right: 30px;
    width: 25%;
    transition: all 0.7s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Exo 2';
    font-size: 20px;
}

.date img{
    width: 35px;
    height: 35px;
}

.beneficts__block{
    font-family: 'Exo 2';
    margin-top: 100px;
    background-color: #efe1f08f;
    border-radius: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.beneficts-list{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.benefict-item{
    margin-bottom: 40px;
    width: 22%;
    display: flex;
    flex-direction: column;
}

.benefict-icon{
    width: 100px;
}

.benefict-title{
    font-size: 18px;
    margin-top: 15px;
    font-weight: 550;
    line-height: 25px;
    width: 90%;
    text-align: left;
}

.free-benefict{
    font-weight: 600;
    color: #ea4d96;
}

.services-banner{
    margin-top: 50px;
    background-image:  url(../img/party.jpg);
    height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    position: relative;
    display: flex;
}

.services-banner .container{
    display: flex;
    justify-content: center;
}

.services-banner .content{
    display: flex;
    width: 60%;
    align-self: center;
    flex-direction: column;
    color: white;
}

.services-banner .content p{
    margin-top: 20px;
    text-align: center;
    font-family: 'Exo 2';
    font-size: 18px;
}

.services-banner .content h2{
    color: white;
    line-height: 40px;
}

.services-banner .opacity__block{
    background-color: #87369f;
    opacity: 0.3;
    z-index: -1;
}

.categories__block{
    margin-top: 70px;
}

.categories-content{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.under-list{
    overflow: hidden;
    margin-left: 30px;
    height: 0px;
    opacity: 0;
    transition: all 0.4s linear;
}

.under-list.active-list .under-list{
    transition: all 0.4s linear;
}

.btn-nav{
    width: 70px;
    height: 70px;
    background-color: white;
    border: 2px dashed #114953;
    border-radius: 50px;
}

.btn-nav:hover{
    transition: all 0.2s linear;
    transform: translateY(-12px);
}

.btn-nav:not(:hover){
    transition: all 0.2s linear;
    transform: translateY(0px);
}

.categories-navigation{
    width: 22%;
    margin-top: 40px;
    position: relative;
    z-index: 3;
}

.main-point{
    font-family: 'Exo 2';
    margin-top: -50px;
    display: block;
    width: 100%;
    position: absolute;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 30px;
    font-size: 20px;
    line-height:20px;
    background-color: #b7e9f8;
    text-decoration: none;
    color: #007cba;
    text-align: center;
    z-index: -1;
}

.main-point:hover{
    background-color:#FFC52C;
    color: white;
    transition: all 0.25s linear;
}

.main-point:not(:hover){
    background-color: #b7e9f8;
    color: #007cba;
    transition: all 0.25s linear;
}

.main-point._active-point{
    background-color:#FFC52C;
    color: white;
    transition: all 0.5s linear;
}

.points-list{
    border-radius: 10px;
    background-color: #32b0ff;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    font-family: 'Exo 2';
    font-size: 18px;
}

#services-menu li{
    background-image: url(../img/point.svg);
    background-position: 0 10px;
    background-size: 1.6rem 1.6rem;
    background-repeat: no-repeat;
    padding: 10px 20px 10px 30px;
    cursor: pointer;
}

#services-menu li a{
    text-decoration: none;
    color: white;
}

#services-menu li:hover a{
    color: rgb(93, 41, 156);
    transition: all 0.2s linear;
}

#services-menu li:not(:hover) a{
    color: white;
    transition: all 0.2s linear;
}

#services-menu li:hover{
    background-color: #ffffffa4;
    transition: all 0.2s linear;
    color: rgb(93, 41, 156);
}

#services-menu li:not(:hover){
    transition: all 0.2s linear;
    color: white;
}

#services-menu li._active-point{
    color: rgb(93, 41, 156);
    background-color: #ffffffa4;
}

#services-menu li._active-point a{
    color: rgb(93, 41, 156);
    background-color: #ffffffa4;
}

.categories__list{
    display: flex;
    flex-wrap: wrap;
    width: 75%;
}

.service__item{
    margin-right: 15px;
    margin-left: 15px;
    max-width: 275px;
    width: 100%;
    max-height: 420px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 10px;
    position: relative;
    border: 1px solid #71728583;
    gap: 15px;
    box-shadow: 0px -2px 14px #96549986;
}

.more-info{
    text-decoration: none;
    color: black;
}

.more-info:hover{
    transition: all 0.25s linear;
    color: rgb(3, 183, 206);
}

.more-info:not(:hover){
    transition: all 0.25s linear;
    color: black;
}

.service__item img{
    width: 100%;
    border-radius: 9px;
}

.service-page{
    width: 70%;
    font-family: 'Exo 2';
}

.order-card{
    border: 1px solid #722376;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 0px 14px #0f7b8e;
    padding: 30px;
}

.service-page .item-info{
    width: 50%;
    flex-direction: column;
}

.service-details{
    width: 65%;
    background-color: #FAF7EE;
    display: flex;
    border-radius: 7px;
    padding: 15px;
    justify-content: space-between;
}

.confine{
    display: flex;
    align-items: center;
}

.item-info > div{
    margin-bottom: 30px;
}

.confine span{
    margin-left: 10px;
}

.price-detail{
    display: flex;
    align-items: center;
}

.price-title{
    width: 40%;
    display: flex;
    text-align: left;
    color: #d21f96;
    font-size: 20px;
    line-height: 25px;
}

.price-item{
    font-size: 35px;
    color:#8786cf;
    font-weight: 600;
}

.request .request-form{
    margin-top: 50px;
    width: 90%;
}

.request .request-form .submit-button{
    margin-top: 20px;
}

.order-card .title-image{
    width: 40%;
    max-height: 420px;
    height: 70%;
    overflow: hidden;
    border-radius: 10px;
}

.title-image img{
    max-width: 600px;
    margin-left: calc(50% - 300px);
}

.gallery{
    margin-top: 70px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.swiper-gallery{
    position: relative;
    width: 80%;
    overflow: hidden;
}

.swiper-gallery img{
    width: 100%;
    border-radius: 10px;
}

.gallery_main .swiper-slide{
    opacity: 0;
    transition: all 0.6s linear;
}

.gallery_main .swiper-slide.swiper-slide-active{
    opacity: 1;
    transition: all 0.6s linear;
}

.gallery_thumbs{
    width: 100%;
    margin-top: 20px;
    display: flex;
}

.gallery_thumbs .swiper-wrapper{
    display: flex;
    justify-content: center;
}

.gallery_thumbs .swiper-slide{
    max-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.gallery_thumbs .swiper-slide img{
    width: 80%;
    opacity: 1;
    transition: all 0.6s linear;
}

.gallery_thumbs .swiper-slide.swiper-slide-thumb-active img{
    opacity: 0.5;
    transition: all 0.6s linear;
}

.service-page .description{
    margin-top: 40px;
}

.service-page .description pre{
    margin-top: 20px;
    font-size: 20px;
    line-height: 30px;
    color: black;
}

.service-page .label{
    margin-top: 50px;
    font-family: 'Neucha';
    text-transform: uppercase;
    font-size: 28px;
    line-height: 42px;
    font-weight: 600;
    color: #AA1CB1;
}

.newscard-list{
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
}

.newscard-item{
    margin-bottom: 50px;
    display: flex;
    width: 27%;
    flex-direction: column;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 15px;
    box-shadow: 0px -2px 14px #32bce6df;
    border: 1px solid #565148a5;
    cursor: pointer;
    position: relative;
    font-family: "Exo 2";
}

.newscard-item a{
    text-decoration: none;
    color:rgb(87, 78, 78);
}

.newscard-item:hover{
    transform: translateY(-35px);
    box-shadow: 0px -2px 14px #2abc32;
    transition: all 0.5s;
}

.newscard-content .item-name{
    margin-left: 10px;
    margin-top: 20px;
    font-size: 20px;
    line-height: 20px;
    color:rgb(140, 33, 145);
}

.newscard-item .image-news{
    width: 100%;
    border-radius: 15px;
}

.newscard-content .item-description{
    margin-top: 10px;
    padding: 10px 10px 0px 10px;
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-clamp: 3;
    box-orient: vertical;
}

.newscard-content .item-date,
.news-description .news-date{
    font-size: 18px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    color:rgb(42, 38, 38);
}

.newscard-content .item-date img{
    width: 10%;
    margin: 10px;
}

.news-block-page{
    font-family: "Exo 2";
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.news-block-page .news-description{
    width: 50%;
    text-align: justify;
}

.news-description .news-date img{
    width: 5%;
}

.news-block-page .news-preview{
    width: 40%;
    border-radius: 10px;
    margin-bottom: 30px;
    border: 2px dashed #c44ee9;
    padding: 10px;
}

.news-preview img{
    width: 100%;
    border-radius: 10px;
}

.filter_group{
    display: flex;
    flex-wrap: wrap;
    font-family: "Exo 2";
    margin-bottom: 50px;
    border-radius: 30px;
    padding: 5px;
    border: 1px solid #71728583;
}

.news__block .filter_group{
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    width: 29%;
    margin-bottom: 20px;
    justify-content: space-between;
}

.news__block .filter_group .item-filter{
    width: 48%;
    margin: 0px;
}

.item-filter{
    margin-right: 20px;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    border-radius: 30px;
    width: 12%;
    justify-content: center;
}

.item-filter.active-filter{
    background-color: #FFC52C;
}

.item-filter:hover{
    background-color: #13a7c1;
    color: white;
    transition: all 0.5s;
}

.item-filter:not(:hover){
    color: black;
    transition: all 0.5s;
}

.item-filter{
    display: flex;
}

.services__block{
    display: block;
    width: 75%;
}

.services__list{
    display: flex;
    flex-wrap: wrap;
}

.modal {
    width:100vw;
    position:fixed;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #9654994d;
    align-items: center;
    justify-content: center;
    z-index: 6;
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
}

.modal._active{
    visibility: visible;
    opacity: 1;
}
.modal__wrapper {
    background-color: white;
    padding: 30px;
    max-width: 600px;
    width: 100%;
    position: relative;
    border-radius: 20px;
    transform: translateY(150px);
    opacity: 0;
    transition: all 0.6s;
}

.modal__content{
    font-family: "Exo 2";
    display: flex;
    flex-direction: column;
    align-items: center;
}

.close-modal{
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    font-size: 0px;
    padding: 0px;
    height: 20px;
    padding: 0;
    opacity: 1;
}

.close-modal svg:hover path{
    fill: #4bddf0;
    transition: all 0.6s;
}

.close-modal svg:not(:hover) path{
    fill: #aa1cb1;
    transition: all 0.6s;
}

.modal__wrapper._active-wrapper{
    opacity: 1;
    transform: translateY(0px);
    transition: all 0.6s;
}

div.item-button{
    cursor: pointer;
}

.modal__label{
    text-transform: uppercase;
    width: 70%;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    color:#c361c8;
}

.swal2-container.swal2-center.swal2-backdrop-show{
    width: 100vw;
    overflow-y: visible;
}

.input-description{
    border-width: 2px;
}